<div class="container">
    <div class="row">
        <div class="col-4 text-center" *ngFor="let product of products">
            <a class="text-decoration-none" [routerLink]="['/product',product.id]">
                <div class="card mb-3">
                    <h2 class="card-title">{{product.name}}</h2>
                    <img [src]="product.imageURL" alt="" >
                    <p class="card-text">{{product.price}}</p>
                    <i class="card-text">{{product.description}}</i>
                </div>
            </a>
        </div>
    </div>
</div>