<div class="table-responsive small" *ngIf="products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Ảnh sản phẩm</th>
          <th scope="col">Giá</th>
          <th scope="col">Mô tả</th>
          <th scope="col">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <td>{{i + 1}}</td>
          <td>{{product.name}}</td>
          <td><img [src]="product.imageURL" alt="" width="100"></td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td width="200">
            <button class="btn btn-danger" (click)="removeProduct(product.id!)">Xóa</button>
            <button class="btn btn-success ms-2" routerLink="/admin/products/{{product.id}}/edit">Sửa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>