<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" routerLink="/admin/dashboard">
        <svg class="bi"><use xlink:href="#house-fill"/></svg>
        Thống kê
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" routerLink="/admin/products">
        <svg class="bi"><use xlink:href="#file-earmark"/></svg>
        Quản lý sản phẩm
      </a>
    </li>
  </ul>